<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="stylesheet" href="../assets/css/cover.css">
</head>
<div class="panel-main">
    <div class="panel-content">
        <div class="panel-content-inner">
            <img src="https://avatars1.githubusercontent.com/u/37237235?s=460&amp;v=4" class="profile-image" alt="">
            <h1 class="profile-title">WELCOME</h1>
            <div class="panel-menu">
                <li><a href="{{site.baseurl}}/assets/res/resume-20200815.pdf"><i class="fas fa-file-csv"></i>RESUMÈ</a></li>
                <li><a href="{{site.baseurl}}/projects"><i class="fab fa-product-hunt"></i>PROJECT</a></li>
                <li><a href="{{site.baseurl}}/"><i class="fas fa-book-open"></i>BLOG</a></li>
                <li><a href="{{site.github_profile}}"><i class="fab fa-github"></i>GITHUB</a></li>
            </div>
        </div>
    </div>
</div>

