<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/portfolio.css">
  <link rel="stylesheet" href="../assets/css/common.css">
</head>
<div class="panel-main">
    <div class="panel-content">
        <div class="panel-content-inner hoverable">
            <img src="https://avatars2.githubusercontent.com/u/37237235?s=460&amp;u=d1ff136b630fe53d7c79aeee938ffc16624df1b0&amp;v=4" class="profile-image" alt="">
            <h2 class="profile-title">WELCOME</h2>
            <hr style="border:1px solid #271d2e; width:50%;">
            <div class="panel-menu">
                <!--<li><a href="{{site.baseurl}}/assets/res/resume-20201025.pdf"><i class="fas fa-file-csv"></i>RESUMÉ</a></li>-->
                <li class="button"><a href="{{site.baseurl}}/resume"><i class="fas fa-file-csv"></i>RESUMÉ</a></li>
                <li class="button"><a href="{{site.baseurl}}/project"><i class="fas fa-list-ul"></i>PROJECT</a></li>
                <li class="button"><a href="{{site.baseurl}}/"><i class="fas fa-book-open"></i>BLOG</a></li>
                <li class="button"><a href="{{site.github_profile}}"><i class="fab fa-github"></i>GITHUB</a></li>
            </div>
        </div>
    </div>
</div>
