<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/common.css">
  <link rel="stylesheet" href="../assets/css/project.css">
</head>
<div class="panel-main">
    <div class="panel-content">
        <div class="panel-content-inner hoverable">
            <div class="buttons">
                <p class="button home"><a href="{{site.baseurl}}/portfolio"><i class="fas fa-home"></i>HOME</a></p>
                <p class="button download"><a href="{{site.baseurl}}/assets/res/portfolio/project-experiences-20201025.pdf"><i class="fas fa-file-download"></i>DOWNLOAD</a></p>
            </div>
            <div class="project-header">
                <div class="project-header-title">PROJECT EXPERIENCES</div>
                <hr style="color: #271d2e; margin:10 0;">
            </div>
            <div class="project-body">
                <div class="project-board project-1">
                    <div class="project-board-left-right">
                        <div class="project-board-left">
                            <div class="buttons">
                                <p class="source"><a href="https://github.com/dev-ujin/bundes-report"><i class="fas fa-code"></i></a></p>
                                <p class="demo"><a href="http://kmove.zugbubu.com/"><i class="fas fa-desktop"></i></a></p>
                            </div>
                            <div class="project-image"><img src="../assets/res/portfolio/bundes-report.png" alt=""></div>
                            <div class="date-people">
                                <li class="date">&#x1F4C5; 2020/11/04 - 2020/11/30</li>
                                <li class="people">&#x1F64D; 2 Backend, 1 Frontend</li>
                            </div>
                        </div>
                        <div class="project-board-right">
                            <div class="name-description">
                                <div class="name">BUNDESREPORT</div>
                                <div class="description">Online forum for Korean and German</div>
                            </div>
                            <div class="feature">
                                <li>&#x2714; User singup, login</li>
                                <li>&#x2714; Write, update and delete posts</li>
                                <li>&#x2714; Wrtie, update and delete comments</li>
                                <li>&#x2714; Send and receive mini cards</li>
                                <li>&#x2714; Mini game for German lerners</li>
                            </div>
                            <div class="tech">
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/java.png);"><div class="tech-label">Java<br>11.0.9</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/mysql.png);"><div class="tech-label">MySQL<br>8.0.22</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/apache-tomcat.png);"><div class="tech-label">Apache Tomcat<br>9.0.39</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/eclipse.png);"><div class="tech-label">Eclipse</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/maven.png);"><div class="tech-label">Maven</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/springboot.png);"><div class="tech-label">Spring<br>Boot</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/thymeleaf.png);"><div class="tech-label">Thyme<br>leaf</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/bootstrap.png);"><div class="tech-label">Boot<br>strap</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/lombok.png);"><div class="tech-label">Lombok</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/jpa.PNG);"><div class="tech-label">JPA</div></div>
                                <div class="tech-image" style="background-image: url(../assets/res/portfolio/recaptcha.png);"><div class="tech-label">re<br>CAPTCHA</div></div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>