<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/resume.css">
</head>
<div class="panel-main">
    <div class="panel-content">
        <div class="panel-content-inner hoverable">
            <div class="resume-header">
                <img src="https://dev-ujin.github.io/assets/res/web.jpg" class="profile-image" alt="">
                <div class="profile-title">
                    <div class="name"><h2>YOUJIN LEE</h2></div>
                    <div class="objective"><p>I am seeking for a challenging position in web developer.<br> 
                        I am eager to contribute to the company with professional ability and to develop myself with various cooperation.</p></div>
                </div>
                <hr style="border:1px solid #271d2e">
            </div>

            <div class="resume-body">
                <div class="resume-body-left">
                    <div class="item contact">
                      <div class="item-title">&#x1F648;CONTACT&#x1F648;</div>
                      <div class="item-content">
                        <ul>
                            <!--<li class="item"><i class="fas fa-phone"></i>Phone</li>-->
                            <li><i class="fas fa-envelope"></i>dev-ujin518@gmail.com</li>
                            <li><i class="fas fa-globe"></i>https://dev-ujin.github.io/cover</li>
                        </ul>
                      </div>  
                    </div>
            
                    <div class="item language">
                        <div class="item-title">&#x1F4AC;LANGUAGE&#x1F4AC;</div>
                        <div class="item-content">
                            <ul>
                                <li>&#x1F1F0; &#x1F1F7;Korean</li>
                                <li>English</li>    
                                <li>Deutsch</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item knowledge">
                        <div class="item-title">&#x1F9E0;KNOWLEDGE&#x1F9E0;</div>
                        <div class="item-content">
                            <li>C</li>
                            <li>C++</li>
                            <li>Java</li>
                        </div>  
                    </div>
                </div>
                <div class="resume-body-right">
                    <div class="item education">
                        <div class="item-title">EDUCATION</div>
                        <div class="item-content">
                            <ul>
                                <li>Majored in Computer and Electronic System Engineering</li>
                                <li>Minored in German Interpretation and Translation</li>
                                <li>Received scholarship for academic excellence(2019 Spring)</li>
                                <li>Cumulative GPA: 4.03/4.5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item extracurricular">
                        <div class="item-title"></div>
                        <div class="item-content"></div>
                    </div>
                    <div class="item experience">
                        <div class="item-title"></div>
                        <div class="item-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    resume-header
        profile-image
        profile-title
            name
            objective
    resume-body
        resume-body-left
            contact
                - email
                - phone
                - address
                - website
            language [level]
                - english
                - deutsch
                - korean
            knowledge
                - c...

        resume-body-right
            education
            extracurricular
            experience


    item
        item-category
        item-year
        item-location
        item-title
        item-content
-->