---
---
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap')

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

main
  div
    .divider
      margin: 10px 0

    &.highlighter-rouge
      margin: 1em 20px

      pre
        padding: 5px

  figure
    &.highlight
      margin: 1em 20px

      pre
        white-space: pre-wrap

      table
        width: auto

#post-info
  h3
    font-weight: bold
    margin-bottom: 15px
    font-size: 2.5em


  ul
    &:not(.browser-default)
      padding-left: 0
      width: 40%

      li
        list-style-type: none

  span
    font-size: 14px
    display: block
    margin-bottom: 5px

    i
      font-size: 11.5px
      margin-right: 10px

      &#indicate
        font-size: 20px

    .chip
      color: #616161
      margin-right: 5px

      &:hover
        color: #fff
        background-color: #616161

      @include transition(all .3s ease-in-out)

@media only screen and (max-width: 992px)
  #post-info
    h3
      text-align: center

    ul
      &:not(.browser-default)
        width: 100%


.col.s12
  h1, h2, h3, h4, h5, h6
    font-weight: 700
  h1
    font-size: 2.5em
  h2
    font-size: 2.3em
  h3
    font-size: 2.0em
  h4
    font-size: 1.7em
    margin-top: 50px
    color: #8671b8
  h5
    font-size: 1.5em
    margin-top: 50px
    margin-bottom: 20px
  h6
    font-size: 1.3em

  .language-plaintext.highlighter-rouge
    background-color: #dbd7df5e
    border-radius: 3px
    padding: .20em .5em
    font-family: Aerial
  strong
    font-weight: 700

  


