---
---
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap')

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args



main
  div
    .divider
      margin: 10px 0

    &.highlighter-rouge
      margin: 10px
      
      pre
        padding: 0 5px

  figure
    &.highlight
      margin: 1em 20px

      pre
        white-space: pre-wrap

      table
        width: auto

#post-info
  h3
    font-weight: bold
    margin-bottom: 15px
    font-size: 2.5em


  ul
    &:not(.browser-default)
      padding-left: 0
      width: 40%

      li
        list-style-type: none

  span
    font-size: 14px
    display: block
    margin-bottom: 5px

    i
      font-size: 11.5px
      margin-right: 10px

      &#indicate
        font-size: 20px

    .chip
      color: #616161
      margin-right: 5px

      &:hover
        color: #fff
        background-color: #616161

      @include transition(all .3s ease-in-out)

@media only screen and (max-width: 992px)
  #post-info
    h3
      text-align: center

    ul
      &:not(.browser-default)
        width: 100%


.col.s12
  font-family: 'Noto Sans KR', sans-serif
  h1, h2, h3, h4, h5, h6
    font-weight: 700
  h1
    font-size: 2.2rem !important
    margin-top: 60px
  h2
    font-size: 2rem !important
    margin-top: 50px
    margin-bottom: 20px
  h3
    font-size: 1.7rem !important
    margin-top: 40px
    margin-bottom: 10px
  h4
    font-size: 1.5rem !important
    margin-top: 20px
    margin-bottom: 10px
  h5
    font-size: 1.2rem !important
  h6
    font-size: .78rem !important

  .language-plaintext.highlighter-rouge
    background-color: #f5f5f5
    border-radius: 3px
    padding: .20em .5em
    font-family: 'Source Code Pro', monospace !important
    font-weight: bold
  strong
    font-weight: 700
    color: #8671b8

  img
    width: 100%
  


