.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #ffffff;
  background-color: #202020;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #c9bf85;
}
.highlight .cp {
  color: #2b7798;
  font-weight: bold;
  font-style: italic;
}
.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #fff;
}
.highlight .p, .highlight .pi {
  color: #fff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #2b7798;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .kp {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .kr {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .gh {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .gu {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .kt {
  color: #d18147;
  font-weight: bold;
}
.highlight .no {
  color: #d18147;
  font-weight: bold;
}
.highlight .nc {
  color: #d18147;
  font-weight: bold;
}
.highlight .nd {
  color: #d18147;
  font-weight: bold;
}
.highlight .nn {
  color: #d18147;
  font-weight: bold;
}
.highlight .bp {
  color: #d18147;
  font-weight: bold;
}
.highlight .ne {
  color: #d18147;
  font-weight: bold;
}
.highlight .nl {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .nt {
  color: #9d77ba;
  font-weight: bold;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #bea33b;
  font-weight: bold;
}
.highlight .se {
  font-weight: bold;
}
.highlight .sc {
  font-weight: bold;
}
.highlight .si {
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
  color: #4fa899;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .nf {
  color: #d15475;
  font-weight: bold;
}
.highlight .py {
  color: #d15475;
  font-weight: bold;
}
.highlight .na {
  color: #d15475;
  font-weight: bold;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #d15475;
  font-weight: bold;
}
.highlight .n {
  color: #607cb1;
  font-weight: bold;
}
