.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #3f3f3f;
  font-size: 1rem;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px;
}
.highlight .gl {
  color: #3f3f3f;
  /*background-color: #4e5d62;*/
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #959795;
  font-weight: bold;
}
.highlight .cp {
  color: #3f3f3f;
  font-weight: bold;
  font-style: italic;
}
.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #A71D5D;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #3f3f3f;
}
.highlight .p, .highlight .pi {
  color: #3f3f3f;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #3f3f3f;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #3f3f3f;
  /*background-color: #4e5d62;*/
}
.highlight .kc {
  color: #A71D5D;
  font-weight: bold;
}
.highlight .kn {
  color: #63A35C;
  font-weight: bold;
}
.highlight .kp {
  color: #63A35C;
  font-weight: bold;
}
.highlight .kr {
  color:#63A35C;
  font-weight: bold;
}
.highlight .gh {
  color: #63A35C;
  font-weight: bold;
}
.highlight .gu {
  color: #63A35C;
  font-weight: bold;
}
.highlight .kt {
  color: #A71D5D;
  font-weight: bold;
}
.highlight .no {
  color: #3f3f3f;
  font-weight: bold;
}
.highlight .nc {
  color: #7558A0;
  font-weight: bold;
}
.highlight .nd {
  color:#63A35C;
  font-weight: bold;
}
.highlight .nn {
  color: #7558A0;
  font-weight: bold;
}
.highlight .bp {
  color:#7558A0;
  font-weight: bold;
}
.highlight .ne {
  color: #7558A0;
  font-weight: bold;
}
.highlight .nl {
  color:#63A35C;
  font-weight: bold;
}
.highlight .nt {
  color: #63A35C;
  font-weight: bold;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #0086b3;
  font-weight: bold;
}
.highlight .ld {
  color: #0086b3;
  font-weight: bold;
}
.highlight .ss {
  color:#0086b3;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #183691;
  font-weight: bold;
}
.highlight .se {
  font-weight: bold;
}
.highlight .sc {
  font-weight: bold;
}
.highlight .si {
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
  color:#63A35C;
}
.highlight .ni {
  color: #183691;
  font-weight: bold;
}
.highlight .w {
  color:#183691;
}
.highlight .nf {
  color: #7558A0;
  font-weight: bold;
}
.highlight .py {
  color:#A71D5D;
  font-weight: bold;
}
.highlight .na {
  color: #7558A0;
  font-weight: bold;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #A71D5D;
  font-weight: bold;
}
.highlight .n {
  color: #3f3f3f;
  font-weight: bold;
}


